  .profil {
    padding: 5px;
    width: 400;
    height: auto;
    border-radius: 10%;
  }

  .prosjekter {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
    height:400px;
  }
  
  .input {
  	width: 200px; 
  	padding: 20px;
  }
  
.torben-bakgrunn{
  background-image: url(Vietnam\ Bakgrunn.jpg);
  background-size: cover;
}
