img {
    width: 100%;
    height: auto;

}  
    
body {
    font-family: sans-serif;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

 .logginn {
    color: white;
}
* {box-sizing: border-box}

body {
  margin: 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./banner.jpg");
    /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  color: white;
}


#navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
#navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 25px;
  width: 10%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
#navbar a:hover {
  background-color: #000;
}

/* Style the current/active link */
#navbar a.active {
  background-color: #04AA6D;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  padding: 16px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}
