img {
    width: 100%;
    height: auto;
}  

body {
    display: grid;
    /*grid-template-rows: 1fr 10rem auto;*/
    grid-template-areas: "header" "main" "." "footer";
    overflow-x: hidden;
    /*min-height: 100vh;*/
    background-color: F9F7F3;
    font-size: 15px;
    margin: 0px;
}

body .footer {
    z-index: 1;
    --footer-background: #032325;
    display: grid;
    grid-area: footer;
    min-height: 12rem;
    position: relative;
    bottom: 0;
}
body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
}
body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

body .footer .content2 {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
}
body .footer .content2 a,
body .footer .content2 p {
    color: #f5f7fa;
    text-decoration: none;
}
body .footer .content2 b {
    color: white;
}
body .footer .content2 p {
    margin: 0;
    font-size: 0.75rem;
}
body .footer .content2 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body .footer .content2 > div > div {
    margin: 0.25rem 0;
}
body .footer .content2 > div > div > * {
    margin-right: 0.5rem;
}
body .footer .content2 > div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
}

@keyframes bubble-size {
    0%, 75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }
    100% {
        width: 0rem;
        height: 0rem;
    }
}
@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }
    100% {
        bottom: var(--distance, 10rem);
    }
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.logginn {
    color: white;
}

* {box-sizing: border-box}

body .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./bergenv.jpg");
    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    grid-area: header;
    background-color: #0FA3B1;
    /*padding: 30px;*/
    text-align: center;
    color: white;
}

body .header h1 {
    margin:0;
    vertical-align: center;
}

#navbar {
    position: absolute;
    vertical-align: bottom;
    width: 100%;
    background-color: #B5E2FA;
    overflow: auto;
}

/* Navigation links */
#navbar a {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    width: 12.5%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
#navbar a:hover {
    background-color: #62C3D6;
}

/* Style the current/active link */
#navbar a.active {
    background-color: #F7A072;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

body .content {
    padding: 16px;
    grid-area: main;
    text-align: center;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

body .introbilde {
    border: 1px solid #ddd;
    width: 800px;
    height: auto;
    border-radius: 10%;
    grid-area: main;

}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left; /* If you want the text to be left-aligned on small screens */
    }
}
